@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); 

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(180deg, rgba(243, 100, 255, 0.15) 0%, rgba(200, 60, 96, 0.20) 0.01%, rgba(200, 60, 96, 0.00) 100%, rgba(200, 60, 96, 0.00)) no-repeat;
  background-color: black;
}

.header-title {
  font-weight: 900;
}

.botao-projetos {
  background: 
    linear-gradient(#000, #000) padding-box,
    linear-gradient(#9c0039, #430656) border-box;
  filter: none;
  z-index: 1;
  color: #fff;
  border: 3px solid transparent;
  border-radius: 10px;
  display: inline-block;
  font-size: 28px;
}
.botao-projetos-glow {
  background: 
    linear-gradient(#000, #000) padding-box,
    linear-gradient(#9c0039, #430656) border-box;
  filter: blur(10px);
  z-index: -1;
  color: #fff;
  border: 3px solid transparent;
  border-radius: 10px;
  display: inline-block;
  font-size: 28px;
}

.Fish {
  background: linear-gradient(180deg, #FF005C 0%, rgba(200, 60, 96, 0.50) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border {
  border-color: #412b32;
}